@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-sans;
    @apply bg-gradient-to-b from-black via-gray-900 to-gray-950;
}


.glow-button {
    @apply bg-blue-700;
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5);
}

.glow-icon { 
    @apply border-2;
    @apply border-purple-300;
    @apply hover:bg-purple-600;
    @apply text-purple-200;
    @apply hover:text-gray-800  ;
    @apply p-3;
    @apply rounded-full;
    @apply   text-7xl;
    @apply lg:p-5;
    @apply md:p-4;
    @apply lg:text-9xl;
    @apply md:text-8xl; 
    box-shadow: 0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 30px rgba(121, 42, 196, 0.5),
        0 0 20px rgba(121, 42, 196, 0.5);
}

.glow-button-l {
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5);
}

.glow-button-purple {
    @apply bg-purple-700;
    @apply border-2;
    @apply border-purple-300;
    box-shadow: 0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 30px rgba(121, 42, 196, 0.5),
        0 0 20px rgba(121, 42, 196, 0.5);
}

.glow-button:hover {
    @apply bg-blue-500;
}


.glow-button-purple:hover {
    @apply bg-purple-500;
}

.glow-button-floating {
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 30px rgba(6, 75, 185, 0.5),
        0 0 20px rgba(6, 75, 185, 0.5);
}

.glow-button-logout {
    @apply border-2;
    @apply border-red-300;
    @apply bg-red-600;
    @apply hover:bg-red-500;
    box-shadow: 0 0 10px rgba(185, 6, 6, 0.5),
        0 0 10px rgba(185, 6, 6, 0.5),
        0 0 10px rgba(185, 6, 6, 0.5),
        0 0 10px rgba(185, 6, 6, 0.5);
}

.glow-input {
    @apply border-2;
    @apply border-purple-300;
    @apply bg-gray-900;
    @apply focus:bg-gray-900;
    box-shadow: 0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5);
}

.glow-input-blue {
    @apply border-2;
    @apply border-blue-300;
    @apply bg-gray-900;
    @apply focus:bg-gray-900;
    box-shadow: 0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5);
}

.glow-input-blue-query {
    @apply border-2;
    @apply border-blue-300;
    @apply bg-gray-900;
    @apply focus:bg-gray-900;
    box-shadow: 0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5),
        0 0 8px rgba(6, 75, 185, 0.5);
}

.glow-button-more {

    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 30px rgba(6, 75, 185, 0.5),
        0 0 20px rgba(6, 75, 185, 0.5);
}

.glow-feat-card {
    @apply border-2;
    @apply border-purple-300;
    box-shadow: 0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 30px rgba(121, 42, 196, 0.5),
        0 0 20px rgba(121, 42, 196, 0.5);
}

.glow-button-image {
    box-shadow: 0 0 20px rgba(121, 42, 196, 0.5),
        0 0 30px rgba(121, 42, 196, 0.5),
        0 0 70px rgba(121, 42, 196, 0.5),
        0 0 90px rgba(121, 42, 196, 0.5);

    @apply border-4;
    @apply border-purple-300;
}


.glow-stat-card {
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 20px rgba(6, 75, 185, 0.5),
        0 0 30px rgba(6, 75, 185, 0.5),
        0 0 40px rgba(6, 75, 185, 0.5);
}

.glow-login {
    @apply bg-gray-950;
    @apply border-2;
    @apply border-purple-300;
    box-shadow: 0 0 10px rgba(121, 42, 196, 0.5),
        0 0 10px rgba(121, 42, 196, 0.5),
        0 0 30px rgba(121, 42, 196, 0.5),
        0 0 50px rgba(121, 42, 196, 0.5);
}

.glow-login-blue {
    @apply bg-gray-950;
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 30px rgba(6, 75, 185, 0.5),
        0 0 50px rgba(6, 75, 185, 0.5);
}


.glow-button-back {
    @apply border-2;
    @apply border-blue-300;
    box-shadow: 0 0 10px rgba(6, 75, 185, 0.5),
        0 0 10px rgba(6, 75, 185, 0.5),
        0 0 20px rgba(6, 75, 185, 0.5),
        0 0 20px rgba(6, 75, 185, 0.5);

}

/* Add this in your main CSS file */
@media (max-width: 900px) {
    .no-bg-sm {
        background-image: url('./asset/images/sec1Small.png') !important;
        /* @apply bg-gradient-to-b from-black to-gray-800; */
    }
}




.zindeximage {
    z-index: 1;
}



.disabled-button {
    @apply disabled:bg-gray-950;
    @apply text-gray-400;
    @apply border-2;
    @apply border-gray-400;
}

.glow-green {
    @apply bg-green-600;
    @apply hover:bg-green-700;
    @apply border-2;
    @apply border-green-300;
    @apply text-gray-50;
    @apply transition-all;
    @apply transform;
    @apply hover:scale-110;
    @apply duration-1000;
    @apply hover:cursor-pointer;
    @apply hover:bg-green-500;
    box-shadow: 0 0 10px rgba(6, 185, 21, 0.5),
        0 0 10px rgba(6, 185, 21, 0.5),
        0 0 10px rgba(6, 185, 21, 0.5),
        0 0 10px rgba(6, 185, 21, 0.5);
}


.glow-yellow {
    @apply bg-yellow-600;
    @apply hover:bg-yellow-700;
    @apply border-2;
    @apply border-yellow-300;
    @apply text-gray-50;
    @apply transition-all;
    @apply transform;
    @apply hover:scale-110;
    @apply duration-1000;
    @apply hover:cursor-pointer;
    @apply hover:bg-yellow-500;
    box-shadow: 0 0 10px rgba(185, 185, 6, 0.5),
        0 0 10px rgba(185, 185, 6, 0.5),
        0 0 10px rgba(185, 185, 6, 0.5),
        0 0 10px rgba(185, 185, 6, 0.5);
}

.glow-gray {
    @apply bg-gray-600;
    @apply hover:bg-gray-700;
    @apply border-2;
    @apply border-gray-300;
    @apply text-gray-50;
    @apply transition-all;
    @apply transform;
    @apply hover:scale-110;
    @apply duration-1000;
    @apply hover:cursor-pointer;
    @apply hover:bg-gray-500;
    box-shadow: 0 0 10px rgba(185, 185, 185, 0.5),
        0 0 10px rgba(185, 185, 185, 0.5),
        0 0 10px rgba(185, 185, 185, 0.5),
        0 0 10px rgba(185, 185, 185, 0.5);
}

.info-text {
    @apply absolute;
    @apply hidden;
    @apply group-hover:block;
    @apply bg-gray-500;
    @apply text-white;
    @apply text-sm;
    @apply rounded;
    @apply py-1;
    @apply px-2;
    @apply bottom-full;
    @apply left-1/2;
    @apply transform;
    @apply -translate-x-1/2 mb-2;
}